[2015-09-23 07:16] sumproxy opened #2 "Retyping master password & GUI"
I like to have a long master password, however without GUI I have to retype it for every operation, which is really bothersome. Is there a solution to this?

[2015-09-23 11:35] conradkleinespel commented on #2
Hi @sumproxy,

Thanks a lot for your question. It is a good one ! :+1:

Unfortunately, **there is no solution for this at the moment**. Having to retype the password is what I initially aimed for, because it keeps security rather high. A **web UI is on the road map, but might take a while** to be ready, because Rooster has no full-time employees at the moment.

If you have any suggestions as to wh

[2015-09-23 11:40] sumproxy commented on #2
I'm fine with basic functionality, just ship what you can as soon as you can. Looking forward to it :smile:

[2015-09-23 11:58] conradkleinespel commented on #2
@sumproxy Glad to hear you find Rooster useful as is ! And thanks for your support. I will be working on this in the coming months. Sorry if this takes time, but I'll do my best :muscle:

I'll leave this issue open in case someone wants to add something down the road. I've changed the title of the issue to include "GUI".

[2015-09-24 02:40] qmx opened #3 "some ideas"
I hate issues for discussing stuff, but there we go:

I was trying to build the same thing you've done with rooster, with two big differences

- using [libsodium](https://download.libsodium.org/doc/) via [sodiumoxide](http://dnaq.github.io/sodiumoxide/sodiumoxide/index.html)

The library is ultra fast and provides encryption which is going to last. (It's taken from djb's nacl after all), and the m

[2015-09-24 21:50] conradkleinespel commented on #3
Hi @qmx,

Thanks a lot for your comment !

As can be seen in the updated `README.md`, the `sha256` KDF will soon be replaced with something more solid like `scrypt`.

Other people have suggested using `sqlite3` too. And it does sound interesting. I like that we could have access to database level constraints. We'd still need to document the schema and specify migrations if the schema changes.

I p

[2015-09-26 17:19] qmx commented on #3
For schema changes, one of the things that could be done was to actually expose the schema version in a plain JSON fashion, like this:

[code]

This would make it easier for us to actually migrate data from a schema to another, and would solve the first problem I'm facing trying to implement the key derivation part: since you're marshalling the data straight to the opaque file, I can't peek for th

[2015-09-26 19:06] conradkleinespel commented on #3
Yes. Having the file version available without the need to decrypt would be good indeed.

And that is the plan for the next file format. From there on, I was thinking of keeping compatibility with the current file format for like 2 months and then just drop it, so people can upgrade easily for 2 months. And after 2 months, we could document a 2-step upgrade path in the `README.md` and the Rooster

[2015-09-26 19:32] qmx commented on #3
This can be automated, can't it? I mean, we could just convert it on the first load and it will be immediately saved with the new format.. That way all data format upgrades can be transparent to users.

TL;DR if there's no version header exposed assume "the big encrypted blob"

[2015-09-26 20:12] conradkleinespel commented on #3
Yes. It could be. And it will be.

I'd like to not keep this in the code forever if possible though. It should definitely be automated at the start, so that's what I'll start with.

[2016-01-11 16:02] conradkleinespel commented on #3
Hello @qmx,

I just published a [new release of Rooster](https://github.com/conradkleinespel/rooster/releases/tag/v2.0.0), which uses `scrypt` for key derivation.

**If you want to install it, please make sure you backup your existing Rooster file first**. I tested as well as possible, but I do write bugs sometimes.

The upgrade path from v1 should be straightforward: install Rooster v2 and just s

[2016-01-11 16:40] conradkleinespel commented on #3
@qmx I almost forgot: about using SQLite. It does indeed sound interesting. I didn't get it into this release. But I suppose we could easily add it to an upcoming release, given that Rooster now has some code that helps upgrading file versions.

What would be the benefits of using SQLite for Rooster ?

[2016-01-11 16:45] conradkleinespel commented on #2
Hey @sumproxy,

How have you been ? Happy new Year !

This message is coming a bit late: I'm sorry, I didn't have much time to work on Rooster. However, building a GUI is one of the things that Rooster should get, [now that Rooster v2 is out](https://github.com/conradkleinespel/rooster/releases/tag/v2.0.0).

Did you have any ideas in mind ? Any things you would like to work on yourself ? I would b

[2016-01-11 17:06] sumproxy commented on #2
Hi Conrad,

Happy new Year and Merry Christmas! If you celebrate :)
I’ve been flattered by your invitation to take part in development, but I’m still a noob and do not have a sound enough background in security and cryptography, so I would hardly be able to make a valuable input yet. Sorry

My best regards to you

[2016-01-11 19:19] conradkleinespel commented on #2
@sumproxy: Alright, that's understandable. I'm sure you would be able to contribute in a meaningful way though. Especially since the GUI part probably won't touch the crypto parts that much.

Any specific things you'd like to see for a GUI ? Would you prefer to have some kind of web app ? Or rather a terminal GUI ? Or a native app ?

[2016-01-12 09:59] sumproxy commented on #2
I’d personally be happy with a terminal GUI, but I’m not sure how that would be possible. Do you mean some background process or rather running the app in a separate terminal window?

[2016-01-12 13:24] conradkleinespel commented on #2
@sumproxy A terminal GUI would be awesome, IMO ! This could be done with the help of [ncurses](https://crates.io/crates/ncurses/). It's a library that makes writing terminal GUIs easier.

Eventually, I'm thinking it would be nice to have a background process that exposes an HTTP API. This API would give access to the Rooster file's data (after authentication of course). This could come in handy wh

[2016-01-12 13:52] sumproxy commented on #2
A web client+a browser extension is definitely superior, but that looks something like a LastPass to me and will probably take a lot of time to write. Let me know how I can be of help

[2016-01-12 22:24] conradkleinespel commented on #2
@sumproxy It really depends on what you'd prefer to work on (assuming you want to work on a feature). I could help with one or the other. I myself would probably find the terminal UI more useful, as I spend most of my time in the terminal anyway.

[2016-01-14 10:12] sumproxy commented on #2
@conradkleinespel Sorry to keep you waiting. As I found out on OS X ncurses-rs requires installing ncurses with homebrew, which I'm afraid might break someting in my system, so I proceeded with natives. Eventually `cargo build` completed successfully, well at least without errors. But! examples were not built, which leaves me without a place to start.

[2016-01-14 12:46] conradkleinespel commented on #2
@sumproxy Oh, right. Ncurses can be somewhat to start using. I have found [this ncurses tutorial](http://tldp.org/HOWTO/NCURSES-Programming-HOWTO/init.html) to be of great help. Also, the `ncurses-rs` package has some useful [examples](https://github.com/jeaye/ncurses-rs/tree/master/examples).

I think you can build an example program by using:
[code]

[2016-01-14 16:32] sumproxy commented on #2
I had to go with the default recipe for Mac OS and

after that the example compiled. However if we mean to make the installation painless on both Linux and Mac OS I think we should consider this nuisance.
I’ll write back once I have something to report after working with examples.

[2016-01-14 16:35] conradkleinespel commented on #2
Definitely, we should document this process or automate it.

Thanks for all the time you're spending on this. I truly appreciate it ! :smiley:

[2016-01-14 17:00] conradkleinespel commented on #2
Definitely, we should document this process or automate it.

Thanks for all the time you're spending on this. I truly appreciate it ! :smiley:

[2016-01-14 17:09] conradkleinespel commented on #3
I'll mark this as closed but please feel free to respond and/or open a new issue regarding a migration to sqlite :smiley:

[2016-01-14 17:09] #3 closed

[2016-01-14 17:15] conradkleinespel opened #6 "Packages for Linux / OSX / Windows"
It would be cool to have packages for the main platforms people might use Rooster on. This would make it easier to install. People shouldn't need to know that Rooster runs on Rust or uses 3rd party libraries in order to use Rooster.

Here are options for some OSs:
- Linux (general): get a [PackageCloud](https://packagecloud.io/) account or https://bintray.com/account/pricing?tab=account&type=prici

[2016-01-14 17:23] qmx commented on #3
@conradkleinespel yay! going to check it soon

[2016-01-14 18:41] qmx commented on #6
@conradkleinespel I'm packaging [limonite](https://github.com/qmx/limonite) for Fedora/CentOS/RHEL using [tito](https://github.com/dgoodwin/tito). I can't still recommend it since it forces on us a tagging scheme that is ugly to say the least :)

Once I figure out how to make things saner I'll be more than happy on helping to package Rooster for Red Hat flavors of linux :)

[2016-01-14 18:45] qmx commented on #2
can't we piggyback on something like gpg-agent or the system's keyring?

[2016-01-14 18:53] conradkleinespel commented on #2
@qmx: That would be cool ! I don't think this excludes having a GUI though, does it ? It would be cool to have a GUI regardless. At the moment, it's a bit cumbersome to figure out what app name you have given for a specific password. I tend to revert to `rooster list | grep -i dropbox`, for instance. But that could be vastly improved.

Ideally, we'd have a GUI that you can open without having to r

[2016-01-14 18:59] conradkleinespel commented on #6
@qmx Thanks for sharing [tito](https://github.com/dgoodwin/tito). I didn't know about this tool. I wouldn't like to Rooster to be bound to a certain versioning scheme by a 3rd party tool. But maybe tito could still work out for us if the version it wants us to use is the same as what we would have used anyway, right?

It would be amazing if you could contribute Red Hat packaging scripts (or whatev

[2016-01-14 19:47] sumproxy commented on #6
On Windows (if we get there) it could be [this](https://chocolatey.org/) unless someone suggests a better alternative

[2016-01-14 21:25] conradkleinespel commented on #6
@sumproxy You are right about Windows. I don't think Rooster even compiles on Windows.

[2016-01-14 21:40] conradkleinespel commented on #2
Regarding the GUI, I was just thinking, having something kind of like [dmenu](https://www.youtube.com/watch?v=Iw6sbQ5NLjM) would be amazing.

The UX would work as follows: type Alt-P, a menu pops up with a list of apps you have stored in Rooster. Start typing the app you're looking for. Hit enter. The password is in the clipboard.

For OSX users, you could think of this as the "Spotlight for Passw

[2016-01-16 14:11] sumproxy commented on #2
I'm really perplexed with analytics tracking in an application of this kind, even if it's a just stub. I can't accept *any* tracking in a password manager.

[2016-01-18 01:55] conradkleinespel opened #7 "Analytics and tracking"
**At some point, Rooster will include an "Analytics" module so that we can use data to make Rooster better. Let's see what this whole "Analytics" thing is about.**

Given the nature of Rooster, including some kind of tracking system inside of it could seem crazy. I get that. Matter of fact, when I am not sure what data is collected about me and/or don't understand what's being done with that data,

[2016-01-18 01:55] conradkleinespel commented on #2
@sumproxy So as to keep this issue on point, that is "Retyping master password & GUI", I've opened #7. Feel free to share your thoughts on the subject there.

[2016-01-18 09:25] sumproxy commented on #7
If tracking is involved, I'm afraid can't be involved with the project, sorry.

[2016-01-18 13:09] conradkleinespel commented on #7
@sumproxy I'm sorry to hear that. I really appreciate that you spent time contributing to issues. So even though you don't want to get involved, thank you!

[2016-01-18 13:22] sumproxy commented on #7
@conradkleinespel no problem

[2016-01-18 13:40] qmx commented on #7
yeah, I'm out with tracking too, sorry :(

even if this is opt-out, Rooster is security-related software - contentions to even dreaming of phoning data back home.

[2016-01-18 13:42] conradkleinespel commented on #7
Alright. Your call. Really, given that Rooster is open source, you could see what kind of data is sent "home" right in the source. There would be no funny business. But I get your point.

Thanks @qmx for participating !

[2016-01-18 14:37] conradkleinespel commented on #7
@qmx & @sumproxy: Why do you refuse the idea of opt-out analytics? I'm interested in hearing your thoughts, if you have the time.

[2016-01-18 14:41] sumproxy commented on #7
Because with time projects tend to get complicated and their code harder to analyze, so eventually for a person not actively involved with the project it will be hard to guarantee that "analytics and tracking" are not used against him, even when he has explicitly "opted out"

[2016-01-18 14:48] sumproxy commented on #7
Anyway as @qmx said, for this kind of application this is not an option. This is the way it is for me

[2016-01-18 15:21] conradkleinespel commented on #7
@sumproxy Alright, fair point about projects getting more complex and more difficult to analyze. Would it help if you could compile Rooster without analytics? Cargo has this thing called `features` that allows for conditional compilation. We could have a build without analytics for users that do not want them.

[2016-01-18 15:29] sumproxy commented on #7
I’d rather not.

[2016-01-18 15:33] conradkleinespel commented on #7
@sumproxy Alright. Thanks for all your feedback.

[2016-09-23 15:59] maxjacobson opened #8 "generating passwords sometimes misbehaves since updating to macOS Sierra"
(The macOS Sierra thing may or may not be related, but that's the one thing that's changed recently on my setup)

[code]

It doesn't totally fail, but it is unexpected that it displays the password rather than copying it to my clipboard.

I think something in the clipboard code isn't compatible with macOS Sierra, maybe?

[2016-09-23 16:02] maxjacobson commented on #8
More problematically, it doesn't save the new password to the list of passwords.

[2016-09-23 17:07] maxjacobson commented on #8
Hmm.... sometimes it works, other times it doesn't. It seems like it fails within tmux and succeeds outside of tmux... does that sound plausible?

[2016-09-23 17:17] maxjacobson commented on #8
Ah.. this is a tmux thing.. this fixed the issue for me: https://github.com/tmux/tmux/issues/543#issuecomment-248980734

[2016-09-23 17:17] #8 closed

[2016-09-23 19:45] conradkleinespel commented on #8
@maxjacobson Hey ! Sorry about the issues, but glad you found a solution ! :+1:

[2016-09-23 19:52] maxjacobson commented on #8
heh thanks 😅. I closed the issue because I found that work-around, but I wonder if there isn't another issue hiding in that experience stated differently as "if copying to the clipboard fails, the newly-generated password should still persist"

[2016-09-23 20:30] conradkleinespel commented on #8
@maxjacobson It's true that the current implementation can fail saving a new password if copying to the clipboard fails. This is because currently, when the copy fails, then we return early. See here:
https://github.com/conradkleinespel/rooster/blob/master/src/main-rooster.rs#L162

Consequently, the following line `store.sync(file)` does not run and the new password is lost. Changing this so that

[2016-09-23 20:32] conradkleinespel commented on #8
@maxjacobson It's true that the current implementation can fail saving a new password if copying to the clipboard fails. This is because currently, when the copy fails, then we return early. See here:
https://github.com/conradkleinespel/rooster/blob/master/src/commands/generate.rs#L79
and here:
https://github.com/conradkleinespel/rooster/blob/master/src/main-rooster.rs#L162

Consequently, the foll

[2016-09-25 18:28] #7 closed

[2016-09-25 18:33] conradkleinespel opened #10 "Failures to copy to clipboard silently fail"
When Rooster does not succeed in copying a password to the clipboard, the user is currently not notified of the failure, which can be confusing. @maxjacobson talked about this in #9 and it's an interesting question.

Some failures are reported by `rust-clipboard`, for instance if you are on a platform that `rust-clipboard` does not support. Other failures are silently ignored.

If you are willing

[2016-09-25 18:55] maxjacobson commented on #10
The reason copying failed for me is arguably a bit obscure. When running `tmux` after upgrading to the new macOS Sierra, all kinds of clipboard integrations stopped working. There's a configuration workaround to fix it, but it affects stock tmux configuration and so I suspect it might affect other potential rooster users going forward as well. And, of course, other things could come up over the lo

[2016-09-25 19:41] conradkleinespel commented on #10
@maxjacobson Your suggested fix with the exact message you wrote sounds good to me and both of your points make sense to me.

I'm not sure how we could know what went wrong. I think this kind of thing should be fixed during installation, by having a proper install script, instead of building a database of bugs, as you say.

On Ubuntu, for some reason, I have to build `rooster-clipboard` with `carg

[2016-11-04 14:14] dvera opened #11 "build failed: failed to run custom build command for x11 v2.11.0"
Can't seem to get rooster to install on ubuntu. This can be reproduced exactly in a docker container:

`root@dockerhost:/# docker run -it ubuntu bash`

[code]

[code]

[code]

[2016-11-04 14:31] conradkleinespel commented on #11
Hello @dvera, thanks for trying out Rooster (or trying to install it at least).

And sorry about this issue. From the error message, it seems like you need to install `pkg-config` first.  I think you can do that with `sudo apt-get install pkg-config`.

Let me know if that works for you :smiley:

[2016-11-04 14:34] dvera commented on #11
Thanks for the quick response. Tried that also, but same error.

[2016-11-04 15:04] conradkleinespel commented on #11
@dvera Mmm, OK. Let me give it a try locally. I will reply here again once I know more :smiley:

[2016-11-04 15:08] conradkleinespel commented on #11
@dvera Thanks so much for taking the time to open an issue. You point out something that others might have experienced too. I'll try and document the process in the README once this issue is resolved.

[2016-11-04 15:16] conradkleinespel commented on #11
@dvera Here is what worked for me.

[code]

Note that in order for the clipboard to work properly on Linux, you'll have to compile `rooster` in `--release mode` and `rooster-clipboard` in `debug` mode. This is due to a bug in the `rust-clipboard` library (see https://github.com/aweinstock314/rust-clipboard/issues/25).

Or else use `rooster get -s YouTube` (with the `s` option) to display your pass

[2016-11-04 16:24] dvera commented on #11
That worked. Thanks!

[2016-11-04 16:45] conradkleinespel commented on #11
@dvera Awesome ! I'll make a note of it in the docs for people to see ! :)

[2016-11-04 16:45] #11 closed

[2016-11-04 16:46] conradkleinespel commented on #11
@dvera Let me know what you think of Rooster, I'm always happy to have feedback :)

[2016-11-11 16:04] maxjacobson opened #12 "When I mistype my password, the warning message is scarier than necessary"
Hello again!

Currently when I `rooster get github`, for example, and mistype my master password, the output looks like this:

[code]

IMO rooster should know which scenario has occurred, and print just the most accurate thing.

[2016-11-11 16:16] conradkleinespel commented on #12
Hello @maxjacobson,

Thanks for telling us about that ! :+1:

You are totally right, the message is scary for newcomers, and I'm sorry about that. Luckily, there are some things we could do.

We could, for instance, have 3 different messages:
- one in the case the Rooster file has permissions that don't allow Rooster to open it (the 1st line in your example),
- one in the case the version of Roost

[2016-11-11 16:46] conradkleinespel commented on #7
@sumproxy There will be no tracking in Rooster. See my comment on #2

[2016-11-11 16:47] conradkleinespel commented on #2
@sumproxy I think suggesting adding tracking was a **mistake on my part**. Proof is it made you go away and I didn't even have time to implement any tracking. So I'm removing this suggestion. Let me know if you are, by any chance, still interested in giving a tracking-free Rooster a chance :smiley:

I've just removed any reference to tracking from the README and I've removed the stub in the code i

[2016-11-13 21:22] maxjacobson commented on #12
Thanks for the thoughtful response! IMO the more specific rooster can be, the better.

I'm glad to hear that it sounds like it is possible to improve this. I realized after opening this issue that (having not really looked at the code around this) it might not be clear the reason that the provided master password didn't successfully authorize reading from the file.

It does sound like that is _kin

[2016-11-13 22:15] conradkleinespel commented on #12
The message you suggest we use for the scenario where the password is wrong sounds good to me :+1:

If you **have the time** to work on this, I'd be glad to help you if needed. And I'd be **glad to merge a pull request** :smiley:

If you **don't have the time** to work on this, **it's fine too, of course**. I'll get to doing this eventually, but I don't have an ETA.

--

In case you're interested

[2016-11-19 17:50] #10 closed

[2016-11-19 17:53] maxjacobson commented on #12
Thanks for explaining that!

I'm looking into making this change and ... I'll let you know if I can figure it out... but I may be at the limits of my rust knowledge 😅

[2016-11-20 16:17] conradkleinespel commented on #12
@maxjacobson Alright ! Thanks for taking the time to look into it ! Please let me know (here or via email) if I can be of any help. I could give you some pointers, tell you what parts of the code might need changing, etc, if you think that can help you :wink:

[2016-12-19 14:56] conradkleinespel opened #15 "Review the UX when you use Rooster for the first time"

[2017-01-08 17:17] #15 closed

[2017-01-08 17:31] conradkleinespel commented on #6
@qmx @sumproxy I've added a fancy new install script that currently works on Ubuntu (14.04, 16.04, 16.10), Debian 8, CentOS 7, Fedora 25 and FreeBSD 11. It can be run with a oneliner:
[code]

Feel free to let me know what you think.

Of course, this does not exclude making proper packages for each distribution / OS, so I'm leaving this issue open until we get to that.

[2017-01-08 18:29] conradkleinespel commented on #12
@maxjacobson I'm having a go at this right now. Will push a first version of it on `master` tonight (without publishing to crates.io yet). I'll let you know so I can have your feedback (if you have the time to check it out).

[2017-01-08 19:24] #12 closed

[2017-01-08 19:25] conradkleinespel commented on #12
@maxjacobson Alright, I've just pushed a new version of Rooster to `master`. Feel free to try it out and let me know what you think. If you find that it is not the right approach, we can re-evaluate the solution and re-open this issue :smiley:

[2017-01-09 22:05] maxjacobson commented on #12
@conradkleinespel Hey, thanks for taking this on! I definitely like the output I'm seeing when I mistype my password. I'm not sure how, easily, to QA the path where I would see a different message, but it seems like a nice improvement to me 👍

[2017-01-09 22:52] conradkleinespel commented on #12
@maxjacobson Awesome that you like the case where you mistype your password. That's a good start ! Thanks for your help by the way. I would have never worked on this if you hadn't taken the time to report your issue in the first place :smiley:

Regarding QA, I'll be honest, I haven't properly tested all the cases myself. Before I release the next version stable version of Rooster, I plan on creati

[2017-01-09 23:03] maxjacobson commented on #12
Heh, my pleasure, and sounds good!

[2017-02-25 02:50] #2 closed

[2017-04-06 21:35] conradkdotcom opened #16 "install.sh broken on OSX"
`install.sh` is broken on OSX. From what I hear, the problem is with the `sha256sum` command: it exists on Linux but not on OSX. OSX uses `shasum -a 256` instead.

Tasks:
- [x] on OSX, use `shasum -a 256` instead of `sha256sum` in `install.sh`
- [ ] install dependencies via `brew` or `port`
- [x] test if it works on OSX
- [x] test if it works on other linux distros
- [x] add yourself to the contri

[2017-04-30 16:40] dtolnay opened #17 "replace rustc-serialize with serde"
It has been deprecated: [announcement](https://users.rust-lang.org/t/deprecation-of-rustc-serialize/10485?u=dtolnay).

Is there any functionality you would require from another library before this would be possible?

[2017-04-30 17:30] conradkleinespel commented on #17
@dtolnay Thanks for reporting that ! :+1: :heart:

Are you, by any chance, available to work on migrating Rooster to [Serde](https://crates.io/crates/serde)? If not, no worries, I know we all have plenty of things on our minds :wink:

[2017-04-30 17:33] dtolnay commented on #17
No I'll leave it to you or one of the other contributors. It is not urgent of course.

[2017-04-30 17:39] conradkleinespel commented on #17
@dtolnay Good to know ! Thanks again for reporting :smiley:

[2017-05-09 23:15] conradkleinespel commented on #6
OSX package will be available once #16 is fixed, for other OSes or specific BSD/Linux distros, we'll keep track of progress in separate issues so that packages can be worked on independently from each other

[2017-05-09 23:15] #6 closed

[2017-05-11 16:35] conradkdotcom opened #18 "check if double-build is still necessary for Linux"
The current Rooster installers build the code both in `release` and `debug` modes, because there used to be a bug in the clipboard library **on Linux**. This bug has been resolved. So as to speed up install times, we shall build only in `release` mode.

Tasks:
- [x] clone the Git repository for Rooster: `git clone https://github.com/conradkdotcom/rooster.git`
- [x] build and run Rooster in release

[2017-05-11 17:48] conradkdotcom commented on #17
Quick recap of the work that needs to be done here.

Tasks:
- [ ] replace `rustc-serialize` with [`serde`](https://crates.io/crates/serde) and [`serde_json`](https://crates.io/crates/serde_json)
- [ ] bump the Rooster version to `2.5.1` in `Cargo.toml` so I can publish the new version to crates.io
- [ ] add yourself to the contributors' list in `README.md` in alphabetical order

If you have any qu

[2017-06-04 20:06] conradkdotcom opened #19 "2fa"
I would like to have some sort of multi-factor authentication if possible. Using TOTP would be great. I have no experience implementing that though. I don't know if it possible given the offline nature of Rooster.

Any other suggestions are appreciated.

[2017-06-04 20:11] conradkdotcom opened #20 "Check password strength with "rooster weak" command"
It would be awesome to have a way to see if we have any weak/hacked passwords in our Rooster file.

**What do you think ? Please post your thoughts here before working on this issue because we have to agree on the solution before we start coding.**

My thoughts:

- https://crates.io/crates/zxcvbn is a nice crate, but it has a lot of dependencies (ie 3rd party code) and so it's difficult to audit,

[2017-06-06 23:07] conradkdotcom commented on #19
After reading up on TOTP, it seems to require a client/server model because there is shared secret. This means TOTP is not suited for Rooster since Rooster has no server.

[2017-06-06 23:07] #19 closed

[2017-06-06 23:15] conradkdotcom commented on #18
done

[2017-06-06 23:15] #18 closed

[2017-06-13 09:29] conradkdotcom opened #21 "rooster uninstall tries to create password file"
If there is no password file stored, Rooster tries to create one when running `rooster uninstall`.

This should not happen, because `rooster uninstall` does not need to access the password file.

[2017-06-23 13:21] #21 closed

[2017-07-11 12:08] varin-pierre commented on #16
*Fix script* for macOS [cp /usr/local/bin/rooster], test on macOS 10.12.5 and Ubuntu 16.4.2

[2017-07-22 00:09] #17 closed

[2017-07-22 14:13] conradkdotcom opened #25 "create a dockerfile"
Rooster needs a Dockerfile.

A lot of people seem to be using Dockerfile to run apps in these days, as it's a cross platform way to use apps without having to care much about dependencies.

In addition, the Rooster Docker image will be used for testing Rooster's growing feature-set, automatically and on every commit.

Tasks:
- [x] create a Dockerfile for Rooster
- [x] use `alpine` as the base imag

[2017-07-22 20:09] conradkdotcom opened #26 "deduplicate code in "get" command"
Some code is duplicated in the code for the `rooster get` command, specifically [this part (lines 65-85)](https://github.com/conradkdotcom/rooster/blob/ab08c7a74504126d69366def99daeaeda92f8d5b/src/commands/get.rs#L65-L85) and [this part (lines 108-128)](https://github.com/conradkdotcom/rooster/blob/ab08c7a74504126d69366def99daeaeda92f8d5b/src/commands/get.rs#L108-L128).

The goal of this issue is

[2017-07-24 21:31] conradkdotcom opened #27 "smarter search on delete/change/regenerate/rename/transfer"
Whenever you call `rooster get <app>`, Rooster will **try to find app names that match your query with a fuzzy search**. This means that `rooster get ggl` will match `Google` but also `Goggles`. When that happens, Rooster allows you to choose whether you want the password for `Google` or `Goggles`. This is mostly helpful when you dont remember the exact name of an app.

You can see this in action

[2017-07-25 22:11] conradkdotcom opened #28 "seccomp"
I'd like to introduce measures to protect us from a 3rd party library going rogue and sending data to the internet at some point. Imagine the maintainer for a library has his crates.io account hacked and for some reason we don't realise that an updated crate was hacked, that could mean disaster.

Would you know of any way we could prevent that from happening?

I was thinking of calling `seccomp` e

[2017-07-29 23:06] #26 closed

[2017-07-29 23:06] conradkdotcom commented on #26
https://github.com/conradkdotcom/rooster/commit/cb2d50c2fdd0053401b69e29ee8e8e69c2416dfc

[2017-07-31 20:53] yamnikov-oleg commented on #27
I've got an all-ready pull request resolving this issue :) But before sending it I want to rebase it onto the latest master.

The problem is, I can't build the master, because cargo can't resolve `rpassword` and `rprompt` dependencies (they are referenced by relative paths in Cargo.toml). Would you point me, where can I get these packages? Thanks!

[2017-07-31 21:11] conradkdotcom commented on #27
Hi @yamnikov-oleg ! Thanks a lot for your help ! 👍 ❤️

Sorry about the broken paths. I was changing some stuff in those crates.

You can replace the paths with this in `Cargo.toml`:
[code]

This should allow you to compile. Let me know if that works :-)

[2017-08-01 10:16] yamnikov-oleg commented on #27
@conradkdotcom With your latest commit it all works, thank you :) I'm just going to tidy up the code and then will send it.

[2017-08-03 18:04] #27 closed

[2017-08-05 18:05] #25 closed

[2017-08-09 15:20] hvze commented on #16
I'm currently working on a fix for this, do you know what dependencies we need from homebrew?

[2017-08-09 15:50] conradkdotcom commented on #16
@hvze Woops, my bad for not closing this issue before. I think this is fixed already by @varin-pierre.

Could you try if you get a chance please ? I don't know what dependencies would be required, but I think `python3` and `pkg-config` would be the only ones.

[2017-08-09 16:03] hvze commented on #16
I grabbed the latest version off and there were still a couple issues with the script calling things it shouldn't have (such as some arch commands and reading a file that doesn't exist on macOS), regardless those were tiny bugs, and the real fixer would be the packages from brew. I'll see if I can get homebrew working.

[2017-08-11 01:36] hvze commented on #20
downloading a 5gb file is totally out of the question here, I believe however that most databases that have been leaked from haveibeenpwned and other sources often store the hash, maybe we could check that way?

[2017-08-11 08:46] conradkdotcom commented on #20
@hvze How would that work ? Wouldn't we have to send a hash to a webservice (no-go) or download all the hacked hashes ?

[2017-08-12 13:32] conradkdotcom commented on #20
@hvze How would that work ? Genuinely curious 😃

[2017-08-13 09:33] conradkdotcom commented on #20
I was just pointed to http://weakpass.com/. Might have some good stuff

[2017-08-15 21:22] conradkdotcom commented on #20
Just noticed this which might be useful: https://github.com/jthomas/serverless-pwned-passwords

[2017-08-15 21:24] hvze commented on #20
That looks like it would either require a tedious setup for the user, or a potentially costly setup on our end

[2017-08-15 21:29] conradkdotcom commented on #20
@hvze I totally get where you're coming from. Rooster has to stay simple to use for the user ! 👍

That being said, maybe there are ways we can make that setup as easy as possible, or even transparent.

[2017-08-16 14:36] yamnikov-oleg commented on #20
Rooster could check the password for some easily-codable patterns, like "not enough diversity in symbols" or "too short". Contributors would add new patterns into the "check list" over time. We could even embed a small English dictionary of a couple of thousands words into the binary: 20kb of extra size would not burden users much.

I know that Rooster positions itself as a product for geeks, and

[2017-08-16 14:40] yamnikov-oleg commented on #28
Concerns about third-party library from third-party sources make sense. To patch this vulnerabity, we could vendor all the third-party libraries right into the project's repository. That way no unwanted updates would come without audit.

[2017-08-16 14:41] hvze commented on #20
I like @yamnikov-oleg's idea of letting users know when the passwords hit a certain age, and I do like the password strength test suggestion.

Would it be nice to have a disclaimer at the README asking if anyone is willing to PR a certain check for strength? We could style it like zxcvbn check if anything.

[2017-08-16 20:53] conradkdotcom commented on #28
Oh, yes, we would get diffs in Git of dependencies, wouldn't we? That could be cool indeed for auditing!

[2017-08-16 20:54] conradkdotcom commented on #28
@yamnikov-oleg Oh, yes, we would get diffs in Git of dependencies, wouldn't we? That could be cool indeed for auditing!

[2017-08-23 07:45] conradkdotcom commented on #20
@yamnikov-oleg @hvze

This message is a bit long. Why? Because I immensely appreciate your contributions and feedback, so I want to make sure I respond in as much detail as possible.

## Common words / dictionary

In essence, the `zxcvbn` crate checks some common words and patterns. I'd rather we improved the `zxcvbn` crate (reducing 3rd party dependencies for instance) than reinventing the wheel

[2017-08-23 20:50] hvze commented on #20
On the topic of a web service, I feel like that could be another project entirely. Even if it did start out as a rooster add on, it could easily be flushed out to something more complex. I know you very wary about security, and having a web service can be very vulnerable to attacks. You can be very creative with how you perceive what can happen with that. However, I feel like web services are the

[2017-08-24 14:31] yamnikov-oleg commented on #20
I think that making weakness checks completely dependant on network connection would make Rooster's UI slower. The latency is not always ideal, and the web service might perform slowly under stress, which would worsen user's experience. Though this problem could be solved by isolating network-using functionality into a separate command like `rooster weak`. Or by deferring all network requests to t

[2017-08-31 13:28] yamnikov-oleg opened #35 "Add a way to store and retrieve files with Rooster"
There is a possible use case for Rooster to store private keys, such as SSH or GPG keys, cryptocurrency account keys. But there is currently no convenient UI to do so. One can copy-paste file contents into `rooster add` input, but that wouldn't work with multiple lines.

I propose adding a way for users to `add` passwords from a file path and to `get` passwords into a file path. This change wouldn

[2017-09-01 15:14] conradkdotcom commented on #20
Hello @hvze and @yamnikov-oleg ! Thanks for your awesome feedback here.

Sorry for the delay and long wait time. I am on vacation until Wednesday and have been doing little coding lately (except for some unit/integration tests). I'll get back to you in detail next week.

Have a great week-end !

[2017-09-13 21:27] conradkdotcom commented on #28
Vendoring sounds good. Will make a new issue regarding that. Thanks @yamnikov-oleg  !

[2017-09-13 21:27] #28 closed

[2017-09-13 21:28] conradkdotcom opened #36 "Vendoring dependencies for more reliable upgrades"
In order to make dependency upgrade easier to audit, Rooster needs vendored dependencies.

This is probably the right tool for the job: https://github.com/alexcrichton/cargo-vendor

Are you up for the task?

[2017-09-13 21:30] conradkdotcom opened #37 "Missing integration tests"
- [x] `rooster change`
- [x] `rooster add`
- [x] `rooster export`
- [x] `rooster uninstall`

Testing option for the different commands would also be good. Currently, only `-s` on `rooster get` is tested. Testing `rooster generate -a -l8` and `rooster regenerate -a -l8` would be cool! Simple tests are fine. We just need to make sure that basic functionnality works as expected.

Testing error cases

[2017-09-15 16:54] conradkdotcom opened #38 "Replace unfriendly error messages"
Some error messages use `{:?}`, which can be unfriendly (not always, but sometimes).

Rooster would benefit from removing `{:?}` in favor of humanly readable error messages that are both informative **and** friendly.

Are you up for the task?

[2017-09-15 19:39] conradkdotcom commented on #35
@yamnikov-oleg Sorry for taking so long to reply, I have been busy with other stuff lately (mostly starting a new job, yay!). I think that having a way to store private keys would be super awesome ! And so I like your suggestions a lot !

I have a few questions about your suggestion:

- what do you think would be a good way to implement these commands without confusing the user as you showed in `1

[2017-09-17 13:47] conradkdotcom commented on #20
@hvze @yamnikov-oleg

## Webservices

Rooster can use webservices to get data, but Rooster will never send any password information to a webservice and Rooster will never be able to install new stuff from a webservice. Passwords are too critical IMO to allow that. If you want to install stuff that's fine, but Rooster won't do it for you.

Yes, totally, good point! Let's keep that appart!

Yes, and

[2017-09-17 13:52] conradkdotcom opened #39 "Rooster library aka. librooster"
Rooster is going to get a companion library called `librooster`. This library will make Rooster's functionnality accessible without having to use Rooster itself. The end goal is to allow you to build custom software on top of Rooster's functionnality.

For instance, let's say you want to have custom password strength checks on your Rooster file. Well, with `librooster`, you can create a new Rust p

[2017-09-17 15:55] #38 closed

[2017-09-17 16:14] yamnikov-oleg commented on #35
After thinking a bit, I suppose it would be better to implement "key file" as a new entity in the Rooster ecosystem beside "password". It would require storage format upgrade, but that way there will be no confusion in the ways how different commands effect passwords and files (like `rooster generate prod-ssh` does not what would be expected), since the commands will be different.

Therefore, ther

[2017-09-17 16:18] yamnikov-oleg commented on #36
I will take this task now, before `rooster weak` is implemented, so that `zxcvbn` would be vendored right away.

[2017-09-17 16:23] yamnikov-oleg commented on #39
Basicly you mean to extract the `password` module and polish the API, right?

[2017-09-17 16:41] conradkdotcom commented on #37
Done:

- https://github.com/conradkdotcom/rooster/commit/7085e44f0763ed1df40b8c35f554da38397aa0b9
- https://github.com/conradkdotcom/rooster/commit/d373ff2d1798238db34ceeeca67be120f9966fbc
- https://github.com/conradkdotcom/rooster/commit/87bd90aa20a0220e4674b8743fa31f992985b734
- https://github.com/conradkdotcom/rooster/commit/42169cfc14f1f7cfbd91cf06830ed014a1a1be15

[2017-09-17 16:41] #37 closed

[2017-09-17 16:42] conradkdotcom commented on #36
Awesome, thanks a lot @yamnikov-oleg ! 👍 😃

[2017-09-17 16:45] conradkdotcom commented on #39
@yamnikov-oleg Exactly ! And other stuff too: `src/generate.rs`, `src/aes.rs`, `src/safe_string.rs`, src/safe_vec.rs` and some of `src/main.rs` (`get_password_file` and `get_password_store`, which will need a refactor to be reusable).

[2017-09-17 16:48] conradkdotcom commented on #35
Thanks for your answers! I definitely would like to have Rooster handle key encryption for me.

Just out of curiosity though, what workflow needs you to save the contents of something from Rooster into a file? The whole point of Rooster is that nothing is ever put in unencrypted files, no?

[2017-09-17 17:03] yamnikov-oleg commented on #35
Actually, I thought of the feature as of single storage for all my passwords and private keys. I keep my rooster file in git repo and sync it with remote server to ensure its safety in case something happens to my PC.

I didn't take in account that most private keys would be encrypted by themselves.

[2017-09-17 18:06] conradkdotcom commented on #35
@yamnikov-oleg Alright!

If you'd like to save a private key in Rooster, we could simply allow this:

[code]

...where you basically pass the password (well, in this case, the private key) via a file. And then to retrieve it, you could just call `rooster get MyPrivateKey > id_rsa`.

**Would that work for you?**

If so, feel free to submit a PR that reads the password from the `-f`/`--file` option

[2017-09-21 10:58] yamnikov-oleg commented on #36
There is a problem with `xcb` crate which is used by `x11-clipboard`. The crate generates sources on every build and these sources always come out different because: (1) there is a timestamp commented in them; (2) some elements in the generated code are being randomly reordered.

On the other hand, cargo keeps checksums of all the vendored crates and their files. `xcb` fails checksum test on the s

[2017-09-21 10:59] yamnikov-oleg commented on #35
I think I'll find a workaround for my purposes :)

[2017-09-21 21:11] conradkdotcom commented on #39
Just pushed a new command `rooster init` (which makes it easier to get started with Rooster when you first install it) and in the process made some progress towards `librooster` by cleaning up some old code.

[2017-09-21 21:12] conradkdotcom commented on #35
@yamnikov-oleg Alright ! I'll go ahead and close this issue then ! Please let me know what you workaround is: I'm curious 😃

[2017-09-21 21:12] #35 closed

[2017-09-21 21:15] conradkdotcom commented on #36
Good spot, @yamnikov-oleg ! Would be awesome if the `xcb` crate could "just work" with cargo-vendor. I'm sure if you make a PR it would be a big win for the Rust ecosystem 👍 then again I don't know how much work it is. If changing `xcb` is not possible, the `[replace]` and `[patch]` method would be OK too.

[2017-09-23 08:33] conradkdotcom commented on #20
I've just updated my previous post to explain what I meant when I said that Rooster would never call webservices. It means that the `rooster` command line tool (the one we have today) will never call the network. But it will be possible with `librooster` (https://github.com/conradkdotcom/rooster/issues/39) to easily build stuff on top of Rooster, so building new features that make use of the netwo

[2017-09-23 14:17] iia opened #40 "Multiple users for same application"
If I understand correct, currently there can be only one user:password pair for an application.

Wouldn't it be nice to allow multiple user:password pairs for the same application? For example, for people who have two accounts for some service with different privileges? This could be a potential feature upgrade.

[2017-09-23 14:32] conradkdotcom commented on #40
Hello @iia! Yes, you are right, currently there is only one password for each application name. So you can't have multiple passwords for one app named "Github", for instance.

The way I handle that is by having multiple entries in Rooster. For example:

[code]

When you do `rooster get ggl`, Rooster will understand that you meant either `GoogleWork` or `GooglePersonal` and ask you which password y

[2017-09-23 15:36] iia commented on #40
Hi,

Yah that works too.

I had a different mental model of the system previously. As in, when creating a new user:password pair the pair must belong to one application and the users of an application must be unique.

[2017-09-23 15:41] conradkdotcom commented on #40
Great to hear that works for you 😃

FYI the only thing unique in Rooster is the app name. Usernames and passwords can be duplicated.

If you have any other questions, feel free to open a new issue or get back via email.

Cheers !

[2017-09-23 15:41] #40 closed

[2017-10-28 15:14] #36 closed

[2017-10-28 15:52] #16 closed

[2017-10-28 21:04] conradkdotcom commented on #20
@hvze @yamnikov-oleg Just spent a couple of hours reading through 3rd party dependencies' code and pushed a first version of the `weak` command on `master`. If you have any feedback, need changes or want to improve the feature, please open a new issue or PR 😃 thanks again for your feedback so far !

@hvze if you'd like to add a flag like `utf8` so it shows passwords that don't contain utf8 charact

[2017-10-28 21:04] #20 closed

[2017-10-29 18:02] cr6git opened #42 "Build error in Void linux"
Hi @conradkdotcom
[code]

What's wrong ?
Regards.

[2017-10-29 18:20] cr6git commented on #42
I am trying to create a package for [Void linux](https://www.voidlinux.eu/) :)
As you can see, my [template](https://gist.github.com/cr6git/981cd94efff9141fe9afaad15914a8fa) is very similar to the AUR [PKGBUILD](https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=rooster), so it should work...

[2017-10-29 18:45] conradkdotcom commented on #42
Are you saying that the PKGBUILD for `rooster` is failing or the PKGBUILD for `Void linux`?

[2017-10-29 18:45] conradkdotcom commented on #42
@cr6git You need to explain what you did to get the error. Otherwise, I can't help you.

[2017-10-29 19:21] cr6git commented on #42
Yes my template is failing.
I haven't tested the AUR PKGBUILD.

1) I got the checksum error while compiling with xbps-src (the Void package manager).

2) Now if I try to manually compile the package, I get a different error:
[code]

[2017-10-29 19:29] conradkdotcom commented on #42
In your error message, it says "cc" was not found. You probably need to install `gcc`.

[2017-10-30 20:22] cr6git commented on #42
`gcc` was missing, of course!
ok, I just made a new attempt:
[code]

[2017-10-30 21:34] conradkdotcom commented on #42
What operating system (and version) are you using ? Have you installed the required dependencies before compiling Rooster: pkg-config, python3, libxmu-dev, libx11-dev and one of xsel/xclip ?

[2017-10-31 00:42] cr6git commented on #42
Exact! python3 and xclip was missing.
[code]
Good! :smiley:
Many thanks to you @conradkdotcom
Now I must modify my template for Void linux.

[2017-10-31 06:34] #42 closed

[2017-10-31 06:34] conradkdotcom commented on #42
@cr6git OK, great ! Please note that these instructions were on the front page of this git repo. You might want to have a look next time you have similar issues. Glad to help though ! 👍  https://github.com/conradkdotcom/rooster

[2017-10-31 06:35] conradkdotcom commented on #42
@cr6git I've added gcc to the instructions on the front page of this repo. https://github.com/conradkdotcom/rooster

[2017-10-31 07:06] conradkdotcom opened #43 "Add gcc to install.sh script"
Rooster needs `cc` to compile. We'll need to add it to `install.sh` so people can easily install Rooster.

[2017-10-31 08:29] cr6git commented on #42
Just to clarify the situation:
To create new packages, the Void's package manager works in a **chroot** where `gcc` is already installed.
When I manually compiled `rooster` I was **outside** the chroot, this is why `gcc` was missing, of course...
😉

[2017-10-31 20:42] conradkdotcom commented on #42
@cr6git OK, thanks !

[2017-11-02 10:49] cr6git commented on #42
About my first post (the checksum error), somebody gave me the answer in [#8725](https://github.com/voidlinux/void-packages/issues/8725#issuecomment-341365782) ...

[2017-11-08 07:43] cr6git commented on #42
@conradkdotcom package accepted and merged in Void linux. :tada:
To install it:
`xbps-install rooster`

[2017-11-08 19:00] conradkdotcom commented on #42
Ahh, now I understand that you were working on a Rooster package for Void Linux all this time. I tought you were trying to compile Rust code on Void Linux and had trouble.

Great to hear about the package ! Thanks for making it ! I hope you like Rooster ! 😄

[2017-11-08 19:02] conradkdotcom commented on #42
If you can, would you mind making a PR in which you add installation instructions for Rooster on Void Linux in the README ? Would be awesome ! 👍

[2017-11-08 19:02] conradkdotcom commented on #42
/cc @cr6git

[2017-11-20 15:36] cr6git commented on #42
I'm not sure to understand... what instructions do you want to add, precisely ?

I'm sorry I didn't ask you sooner. Sometimes I'm too busy and I forget to check my emails...

[2017-11-22 21:11] conradkdotcom commented on #42
@cr6git Instructions that explain how to install Rooster on Void Linux 😄

[2017-11-26 09:51] cr6git commented on #42
`xbps-install -S rooster`

it's like `pacman -S rooster` in Arch if you are used to.

[2017-11-26 18:52] conradkdotcom commented on #42
@cr6git awesome,thanks !

[2018-01-19 15:11] conradkdotcom commented on #43
This turned out to be a non issue.

[2018-01-19 15:11] #43 closed

[2018-01-19 15:12] conradkdotcom commented on #39
Haven't had any time recently for this. If anyone is interested in working on this, feel free to say so and I'll reopen this issue. But for now, I have no time to work on this so I'll go ahead and close this.

[2018-01-19 15:12] #39 closed

[2018-02-14 01:34] LogoiLab opened #44 "Windows Build Fails"
Build with nightly and stable on Windows fails while compiling 'quale' package.

[code]

Seems to be looking for unix options in libc where there is none. Will file an issue with 'quale' if needed.

[2018-02-16 11:33] conradkdotcom commented on #44
@LogoiLab Hey ! Thanks SO much for your help here, you cannot imagine how happy I am to see Windows support for Rooster ! 👍 ❤️  I will take a look at this today and get back to you.

[2018-02-28 05:30] alhasanmridha opened #47 "Log in to xmpp server is too slow"

[2018-02-28 08:35] conradkdotcom commented on #47
@alhasanmridha Hi ! I'm not sure what you are talking about as Rooster does not provide features related to XMPP. Could be a bit more specific about your issue please ? Thanks ! :+1:

[2018-08-29 12:47] FabienPapet opened #48 "Could not install in ubuntu 18 04"
Could not install in ubuntu 18 04

[code]

[2018-08-29 13:56] conradkdotcom commented on #48
@FabienPapet It looks like your system is missing the `libxcb`. Try installing it with `apt-get install libxcb1 libxcb1-dev` :smiley:

[2018-08-29 14:12] FabienPapet commented on #48
Perhaps add this to the readme or event install.sh could help :)

[2018-08-29 14:17] FabienPapet commented on #48
Works like a charm, thanks

[2018-08-29 14:17] #48 closed

[2018-09-08 22:53] #47 closed

[2018-09-08 22:53] #44 closed

[2019-10-22 12:27] travankor opened #51 "Wayland Clipboard"
Linux and some other Unix-like systems are replacing the X11 display protocol with the new [Wayland](https://wayland.freedesktop.org/architecture.html) protocol.

There is a safe Rust [crate](https://github.com/YaLTeR/wl-clipboard-rs) for working with the Wayland clipboard. Currently, [wlroots](https://github.com/swaywm/wlroots) compositors are the best-supported, but other compositors are encoura

[2019-10-22 17:52] conradkdotcom commented on #51
@travankor Thanks ! I think this might be a good fit. Unfortunately, the referenced crate has more than 15 dependencies. The thing is, I review every line of source code I include as a dependency in Rooster. Unfortunately, I don't have time to review these 15 crates at the moment.

The current setup uses `xsel` or `xclip` and works well. It's advantage is that it relies on the packages available i

[2019-12-16 14:08] porto99 opened #52 "Multiple entries for same application"
It would be nice if an application name could be used multiple times.
A common situation is an administrator using different logins on the same server, like
[code]
Presently rooster does not support it.

[2019-12-16 14:35] porto99 commented on #52
Didn't see #40, sorry for the noise.

[2019-12-16 14:35] #52 closed

[2019-12-16 17:11] conradkleinespel commented on #52
Hi @porto99 ! Thanks for asking about this. Does #40 work for you too? If you'd rather have the ability to add the same multiple times, we could work on that :+1:

[2020-01-18 00:09] conradkleinespel commented on #51
@travankor  Without further feedback, I'll go ahead and close this issue. If someone else reads this and needs Wayland support, feel free to open a PR as described above or reply to the conversation here. Cheers !

[2020-01-18 00:09] #51 closed

[2020-11-07 21:44] conradkleinespel opened #54 "New features"
New features I could use. Let me know what you think or if you need something else:

- bulk delete
  - use cases
    - in a previous job, I saved company passwords in Rooster, when I left I had to delete them one by one
- see when passwords were last used
  - use cases
    - could be useful to delete accounts/passwords which are never used
  - requires file format change
- support for adding TOTP

[2021-01-25 21:22] conradkleinespel commented on #51
@travankor This is now done, thanks @kamiyaa for #60

[2021-10-12 17:26] geri1701 opened #65 "password command"
Is there a way to use rooster as a password command for a configuration file? e.g. as with `pass` with `pass show gmail`.

[2021-10-12 18:05] #65 closed

[2022-09-02 22:36] jigijigol opened #72 "build errors"
By building the program without lacking in any dependencies on MX-Linux Fluxbox 21 get these errors on terminal

# cargo install --root /usr rooster

    Updating crates.io index
  Installing rooster v2.9.0
   Compiling libc v0.2.132
   Compiling cfg-if v1.0.0
   Compiling autocfg v1.1.0
   Compiling proc-macro2 v1.0.43
   Compiling unicode-ident v1.0.3
   Compiling quote v1.0.21
   Compiling serd

[2022-09-02 22:55] conradkleinespel commented on #72
:wave: Hello there. It builds fine for me with Rust 1.62.1 on Linux. Have you tried building `clap` (https://github.com/clap-rs/clap) on its own without Rooster? Does that work?

[2022-09-04 11:09] #72 closed

[2022-09-04 11:42] jigijigol commented on #72
Thank you very much for your simple and good password manager. Hope you always be successful and best wishes. :-)

[2022-09-04 13:26] conradkleinespel commented on #72
Thanks ! And great that is it working for you now. I'll make a note to publish again to crates.io at some point. Maybe I need to publish with updates so that it compiles correctly on all systems :shrug: